NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://postgres:postgres@localhost:5437/ar_navigation_db
DATABASE_SSL=false
CORS_ORIGIN=*
POSTGRES_DB=ar_navigation_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5437
